@import './_variables.scss';
@import './_layout.scss';

* {
  box-sizing: border-box;
}

html,
body,
.main {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  display: table;
  width: 100%;
  background-color: $background-color;
}
