.main,
.header,
.footer {
  display: table-row;
  width: 100%;
}

.header {
  .header__background {
    background: $header-background-color;
    position: relative;
    height: 55px;
    border-bottom: $header-border-bottom;
  }

  .header__logo {
    width: 60px;
  }
}

.container {
  margin: 50px auto;
  padding: 20px 10px;
  border-radius: 2px;
}

.main__container {
  max-width: $header-max-width;
  margin: 15px auto 30px;
}

.footer {
  text-align: center;
  background-color: $footer-background-color;
  color: $footer-color;

  .footer__disclaimer {
    padding: 30px;
    font-size: $font-size-14;
    font-weight: $font-light;
  }
}


@media ( min-width: $breakpoint-desktop ) {
  .header {

    .header__background {
      height: 79px;
    }

    .header__container {
      max-width: $header-max-width;
      margin: 0 auto;
      padding: 16px 10px;
    }

    .header__logo {
      width: 58px;
    }
  }

  .container {
    max-width: 1000px;
    padding: 30px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
    border-radius: $border-radius;
  }

  .main__container {
    margin: 40px auto 50px;
  }
}
