@import '../../styles/variables';

.filter {
  width: 100%;

  .filter__field {
    width: 40%;
    display: inline-block;
    font-size: $font-size-16;
    height: $filter-height;
    font-weight: $font-light;
    color: $font-color-primary;
  }

  .filter__value {
    border-radius: 0 2px 2px 0;
    border: 1px solid $border-color;
    padding: 8px 10px 7px;
    margin-left: -1px;
    width: 60%;
    display: inline-block;
    height: $filter-height;
    font-size: $font-size-16;
    font-weight: $font-light;
    color: $font-color-primary;
  }
}
