.tour-info {
  text-align: left;
  padding: 15px 20px;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);

  &:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.35);
  }

  .tour-info__logo {
    display: inline-block;
    width: 20%;
  }

  .tour-info__content {
    display: inline-block;
    width: 70%;
    padding: 0 20px;
    vertical-align: top;
  }

  .tour-info__title {
    margin: 0 20px 0 0;
    display: inline-block;
  }

  .tour-info__rating {
    margin-right: 0;
  }
}
