.tour-info {
  text-align: center;
  border-radius: 2px;
  padding: 15px 10px;
  margin: 15px 0;

  .tour-info__logo {
    max-width: 210px;
  }

  .tour-info__title {
    font-size: $font-size-18;
    color: $font-color-primary;
    margin: 5px;
  }

  .tour-info__rating {
    margin-right: 10px;
  }

  .tour-info__price {
    color: $font-color-primary;
    font-size: $font-size-26;
    margin: 15px 0 0 0;
  }
  .tour-info__price-label {
    color: $font-color-secondary;
    font-size: $font-size-16;
    display: block;
    font-weight: $font-light;
  }
}
