.tour-info {
  text-align: center;
  border-radius: 2px;
  padding: 0;
  margin: 10px 0 25px;
  box-shadow: 0 0 10px #c1c1c1;

  .tour-info__logo {
    width: 100%;
  }

  .tour-info__content {
    padding: 10px 10px 20px;
  }

  .tour-info__title {
    font-size: $font-size-18;
    color: $font-color-primary;
    margin: 5px;
  }

  .tour-info__rating {
    margin-right: 10px;
  }

  .tour-info__price {
    color: $font-color-primary;
    font-size: $font-size-26;
    margin: 15px 0 0 0;
  }
  .tour-info__price-label {
    color: $font-color-secondary;
    font-size: $font-size-16;
    display: block;
    font-weight: $font-light;
  }
}
