@import '../../styles/variables';

.sort {
  width: 100%;

  .sort__field {
    width: 85%;
    height: $filter-height;
    display: inline-block;
  }

  .sort__order {
    border: 1px solid $border-color;
    border-radius: 2px;
    color: $font-color-primary;
    height: $filter-height;
    padding: 5px;
    cursor: pointer;
    vertical-align: bottom;
    width: 15%;
    margin: 10px 0 10px -1px;
    background-color: #fff;

    &:hover {
      background-color: $background-color-hover;
    }
  }

  .sort__order-img {
    width: 100%;
    height: auto;
    max-height: 20px;
    max-width: 25px;
  }
}
