.tours {
  text-align: left;

  .tours__list {
    margin-top: 30px;
  }

  .tours__list-actions {
    background-color: transparent;
    margin: 0 5px 0 0;
    padding: 0;
  }

  .tours__list-tours {
    padding: 5px;
    min-height: 200px;
    margin-top: 0;
  }
}
